body{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width:1220px;
    padding:0 15px;
    margin:0 auto;
}
.body_wrapper{
    background-image: url(../assets/bg-image-new.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.layout_bg {
    background-image: url(../assets/container.png);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height:100vh;
}
.left_monitor img {
    width: 53%;
}
.left_monitor {
    padding-left: 6%;
    padding-top: 5%;
}
.header-master{
    position: relative;
    height: 358px;
}
.user_btn {
    position: absolute;
    top: 6%;
    right: 44.8%;
}
.skip-to-content-link {
  display: none;
}
.hover_img{display:none;}
.user_btn:hover .block_img, 
.cart_btn:hover .block_img, 
.home_btn:hover .block_img, 
.faq_btn:hover .block_img, 
.plicy_btn:hover .block_img, 
.insta_btn:hover .block_img, 
.twitter_btn:hover .block_img,      
.youtube1_btn:hover .block_img, 
.youtube2_btn:hover .block_img, 
.discord_btn:hover .block_img{
    display:none;
}
.user_btn:hover .hover_img, 
.cart_btn:hover .hover_img, 
.home_btn:hover .hover_img, 
.faq_btn:hover .hover_img, 
.plicy_btn:hover .hover_img, 
.insta_btn:hover .hover_img, 
.twitter_btn:hover .hover_img, 
.youtube1_btn:hover .hover_img, 
.youtube2_btn:hover .hover_img, 
.discord_btn:hover .hover_img{
    display:inline-block;

}
.cart_btn{
    position: absolute;
    top: 12.7%;
    right: 41.3%;
}
.home_btn {
  position: absolute;
  top: 16.7%;
  right: 32.2%;
}
.faq_btn {
  position: absolute;
  top: 37.9%;
  right: 32.2%;
}
.plicy_btn {
  position: absolute;
  top: 59.9%;
  right: 32.2%;
}
.insta_btn{
    position: absolute;
    top: 80.7%;
    right: 33.7%;
}
.twitter_btn{
    position: absolute;
    top: 80.7%;
    right: 25.5%;
}
.youtube1_btn{
    position: absolute;
    top: 80.7%;
    right: 17.4%;
}
.youtube2_btn{
    position: absolute;
    top: 80.7%;
    right: 9.4%;

}
.footer__content-bottom {
  display: none;
}
.discord_btn{
    position: absolute;
    top: 80.7%;
    right: 1.2%;
}
.monitor_img{
    position: absolute;
    top: 14.3%;
    right: 3%;
}
.frame_inner img {
    width: 100%;
}
.frame_inner {
    width: 100%;
    padding: 0 15px;
    position: relative;
    margin: 0 0 21px;
}

.frame_outer .shopify-section {
  display: inline-block;
  width: 100%;
}

.frame_outer .grid {
  display: flex;
  flex-wrap: wrap;
}

.frame_outer .grid__item {
  width: 50%;
  list-style: none;
}
.frame_outer {
   padding: 30px 60px;
}
.frame_inner .inline_img {
  display: none;
  /* min-height: 501px; */
}
.frame_inner:hover .inline_img + .frame_text {
  /* bottom: 22px; */
}
.frame_inner:hover .inline_img{
    display: inline-block;
}
.frame_inner:hover .block_img{
    display: none;
}
.frame_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 6%;
    left: 0;
    right: 0;
    padding: 0 10%;
}
.frame_text h4 {
    margin: 0;
    font-size: 20px;
    color: #ffff;
}
.frame_text h5 {
    margin: 0;
    font-size: 20px;
    color: #fff;
}
.frame_inner img {
    background: #000;
    border-radius: 21px;
}


/* ******************************** Responsive Start Here ******************************** */

@media screen and (min-width: 767px) and (max-width: 1270px) {
    .container{
        max-width:767px;
        padding:0 15px;
        margin:0 auto;
    }    
    .left_monitor {
        padding-left: 8%;
        padding-top: 4%;
    }
    .left_monitor img {
        width: 50%;
    }
    .user_btn {
        top: 4%;
        right: 42.6%;
    }
    .user_btn img {
        width: 66%;
    }
    .cart_btn img {
        width: 66%;
    }
    .cart_btn {
        top: 10.7%;
        right: 38.7%;
    }
    .home_btn {
        top: 14.2%;
        right: 27.2%;
    }
    .home_btn img {
        width: 63%;
    }
    .faq_btn {
        top: 32.9%;
        right: 27.2%;
    }
    .faq_btn img {
        width: 61%;
    }
    .plicy_btn img {
        width: 61%;
    }
    .plicy_btn {
        top: 50.9%;
        right: 27.2%;
    }
    .insta_btn img {
        width: 59%;
    }
    .insta_btn {
        top: 69.6%;
        right: 30.5%;
    }
    .twitter_btn img {
    width: 60%;
    }
    .twitter_btn {
        
    top: 69.3%;

        right: 22.3%;
    }
    .youtube1_btn img {
        width: 60%;
    }
    .youtube1_btn {
        top: 69.3%;
        right: 14.3%;
    }
    .youtube2_btn img {
        width: 60%;
    }
    .youtube2_btn {
        top: 69.1%;
        right: 6.2%;
    }
    .discord_btn img {
        max-width: 37px;
    }
    .discord_btn {
        top: 69.2%;
        right: 1.3%;
    }
    .monitor_img img {
        max-width:170px;
    }
    .monitor_img {
        top: 13%;
    right: 21px;
    }
    .header-master {
       height: 258px;
    }
    .frame_outer {
        padding: 0px 60px;
    }
    .frame_outer slider-component.slider-mobile-gutter {
        padding: 0;
    }
    .frame_text h5, .frame_text h4 {
        font-size: 15px;
    }
    .frame_inner img {
            border-radius: 11px;
            vertical-align: top;
        display: inline-block;
    }
    .frame_text{
       bottom:4%;
    }
}




@media screen and (max-width: 766px) {
    .container{
        max-width:330px;
        padding:0 5px;
        margin:0 auto;
        min-height: 100vh;
    }  
    .monitor_img img {
        max-width: 72px;
    }
    .monitor_img {
        top: 12.2%;
        right: 3.3%;
    }
    .home_btn {
        top: 13.4%;
        right: 32.1%;
        width: 26px;
    }
     .faq_btn {
        top: 30.9%;
        right: 32.1%;
        width: 26px;
    }
    .user_btn img, .cart_btn img, .home_btn img,  .faq_btn img, .plicy_btn img, .insta_btn img, .twitter_btn img, .youtube1_btn img, .youtube2_btn img, .discord_btn img{
        width: 100%;
    vertical-align: top;

    }
    .user_btn {
        top: 6px;
        right: 44.8%;
        width: 13px;
        height: 13px;
    }
    .user_btn a, .cart_btn a, .home_btn a, .faq_btn a, .plicy_btn a, .insta_btn a, .twitter_btn a, .youtube1_btn a, .youtube2_btn a, .discord_btn a{
        display: block;
        width: 100%;
        height: 100%;
    }

    .plicy_btn {
        top: 48.4%;
        right: 32.1%;
        width: 26px;
    }
    .insta_btn {
        top: 65.7%;
        right: 33.9%;
        width: 16px;
        height: 16px;
    }
    .twitter_btn {
        top: 66%;
        right: 25.6%;
        width: 16px;
        height: 16px;
    }
    
    .youtube1_btn {
        top: 65.1%;
        right: 17.7%;
        height: 16px;
        width: 16px;
    }
    .youtube2_btn {
        top: 65.5%;
        right: 31px;
        width: 16px;
        height: 16px;
    }
    .discord_btn {
        top: 65.5%;
        right: 1.5%;
        width: 16px;
        height: 16px;
    }
   
    .cart_btn {
        top: 10%;
    right: 40.8%;
    width: 13px;
    height: 13px;
    }
    .left_monitor {
        padding-left: 6%;
        padding-top: 4.8%;
    }
    .header-master {
        height: 118px;
    }
    .frame_outer {
        padding: 0;
    }
    .frame_outer .collection {
        padding: 0;
    }
    .frame_inner {
        padding: 0 5px;
    }
    .frame_text h5 {
     font-size: 9px;
    }
    .frame_text h4 {
       font-size:8px;
    }
       .frame_inner img {
         border-radius: 4px;
    }
    .frame_outer .collection .collection__title.title-wrapper {
        margin-bottom: 0;
    }
    .frame_inner {
        margin: 0 0 2px;
    }
    .frame_text{
        bottom: 7.5%;
    }
}
